<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Mixture Classification</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/mixtureclassification.css}"/>
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />
	
</head>
<body>

	<div class="container">
  		 
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				        <li class="navbar-buttons"><a href="/">Main Page</a></li>
				        <li class="navbar-buttons"><a href="/allmix">Mixtures</a></li>
				    </ul>
				    <div class="navbar-text navbar-right">
				    Welcome <span sec:authentication="name">Anonymous </span>
			           <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
				    		| <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Log out</a>
				      </form>
				    </div>
				</div>
		    </div>
		</nav>
		<br>
		<div layout:fragment="content">
		</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>