<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
</head>
<body>
	
	<div layout:fragment="content">

		<h2>Classification of mixtures</h2>
		<br>
		<h4>Health hazards and environmental hazards</h4>
		<br><br>
		<input type="button" onclick="window.open('http://www.google.com')" value="Google" />
		<br><br>
		<input type="button" onclick="window.open('https://echa.europa.eu/hu/home')" value="ECHA's web page" />
		<br><br>
		<input type="button" 
		onclick="window.open('https://eur-lex.europa.eu/legal-content/HU/TXT/?qid=1559988674215&uri=CELEX:02008R1272-20181201')" 
		value="REGULATION (EC) No 1272/2008" />
	</div>

</body>
</html>